{% extends 'base.html' %}

{% block title %}
my project
{% endblock title %}

{% block content %}
{% if confirm %}

{% endif %}

<div class="ui  segment ">{% if confirm %}
    <div class="ui green message">Your profile has been updated</div>
    
    
    {% endif %}

    <h3 style="color:green;">My awesome profile: {{request.user}}</h3>
 <div class="ui grid">
    <div class="row">
          <div class="six wide column">
             <img class="ui medium rounded image" src={{profile.avatar.url}} alt="">
             <div class="row mt-5">
             <button type='submit' class='ui positive button' onclick="document.getElementById('main').style.display='block' ">Update</button>
        </div>
            </div>
            <div class="ten wide column">
           <table class="ui table">
               <tbody>
                   <tr>
                       <td>username</td>
                       <td>{{profile.user}}</td>
                   </tr>
                   <tr>
                    <td>first name</td>
                    <td>{{profile.first_name}}</td>
                </tr>
                <tr>
                    <td>last name</td>
                    <td>{{profile.last_name}}</td>
                </tr>
                <tr>
                    <td>Description/bio</td>
                    <td>{{profile.bio}}</td>
                </tr>
                <tr>
                    <td>Number of friends</td>
                    <td>{{profile.get_friends_no}}</td>
                </tr>
                <tr>
                    <td>Your friends</td>
                    <td>
                        <ul>
                            {% for friend in profile.get_friends %}

                            <li>{{friend}}</li>

                            {% endfor %}
                        </ul>
                        </td>
                </tr>
                <tr>
                    <td>number of posts</td>
                    <td>{{profile.get_posts_no}}</td>
                </tr>
                <tr>
                    <td>number of likes</td>
                    <td>{{profile.get_likes_given_no}}</td>
                </tr>
                <tr>
                    <td>number of likes recieved</td>
                    <td>{{profile.get_likes_recieved_no}}</td>
                </tr>
               </tbody>
           </table>
            </div>
        </div>
        </div>
</div>

<form action="" style="display:none;"method="POST" class="ui form" id="main"enctype='multipart/form-data'>
{% csrf_token %}
{{form.as_p}}
<button type='submit' class='ui positive button'>Update
</button>
</form>
{% endblock content %} 
