body{
    background: whitesmoke !important;
}
.nav{
    border-radius: 0px !important;
    padding:10px 0 10px 0;
}
.mb-7{
    margin-bottom: 7px;
}

.mb-5{
    margin-bottom: 5px !important;
    
}

.w-big {
    width:200px !important;
}
.comment-box{
    display:none;
}